.b-zigzag p {
  font-size: 21px;
  margin-left: 6.8rem;
}

.b-zigzag__number {
  position: absolute;
  top: -20px;
  left: 20px;
  display: block;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: #659f15;
  color: #fff;
  font-weight: 600;
  font-size: 29px;
}

.b-zigzag .row:nth-child(even) {
  flex-direction: row-reverse;
}

.b-zigzag .row:nth-child(even) .b-zigzag__text {
  width: 100%;
  text-align: right;
  padding-right: 6.7rem;
}

.b-zigzag .row:nth-child(even) .b-zigzag__number {
  right: 20px;
  left: auto;
}

.b-zigzag .row:nth-child(even) .b-zigzag__image {
  margin-left: 2.5rem;
}

.b-zigzag__row {
  position: relative;
}

.b-zigzag__row::before {
  content: "";
  background-image: url(../../../assets/img/kak-primenjat-background-line.svg);
  background-position-x: 173px;
  background-repeat: repeat-y;
  display: block;
  width: 100%;
  height: calc(100% - 200px);
  position: absolute;
  top: 93px;
  left: 0;
}
