.site-wrap {
  z-index: auto;
  //   padding-top: 147px;
  padding-top: 111px;
}

.site-content {
  padding-top: 30px;
  padding-bottom: 100px;
}
/*
.site-content--top-offset-large { padding-top: 58px; }
.site-content--top-offset-small {
    margin-top: -27px;
    padding-top: 0;
}
*/
.site-content--has-no-offset-top {
  padding-top: 0;
}

.site-content__inner > *:last-child {
  margin-bottom: 0;
}

@media (max-width: $breakpoint_lg) {
  .site-content {
    padding-top: 20px;
  }
  .site-content--has-no-offset-top {
    padding-top: 41px;
  }
}

@media (max-width: $breakpoint_md) {
  .site-wrap {
    padding-top: 100px;
  }

  .site-content {
    padding-bottom: 60px;
  }
  .site-content--top-offset-small {
    margin-top: 0;
  }
}

/**
 * Forms
 */
.c-input-wrap,
.c-accept label,
.c-accept .wpcf7-list-item-label {
  position: relative;
  display: block;
}

.c-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 17px 24px;
  opacity: 0.6;
  pointer-events: none;
}
.c-placeholder--is-active {
  opacity: 0.3;
}

.c-input {
  display: block;
  width: 100%;
  padding: 17px 24px;
  background: $c_grey_l;
  border-radius: 27px;
}

.c-accept {
  margin-top: -1px;
}

.c-accept label {
  overflow: hidden;
}

.c-accept input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.c-accept .wpcf7-list-item-label {
  padding-left: 24px;
}

.c-accept .wpcf7-list-item-label:after {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  background: $c_grey_l;
  border-radius: 4px;
  content: "";
}

.c-accept .wpcf7-list-item-label:before {
  @extend .ic;
  @extend .ic-checkmark1;

  position: absolute;
  top: 7px;
  left: 4px;
  z-index: 1;
  font-size: 6px;
  color: #fff;
  opacity: 0;
}

.c-accept input:checked + .wpcf7-list-item-label:before {
  opacity: 1;
}

.c-accept input:checked + .wpcf7-list-item-label:after {
  background: $c_secondary;
}

.grecaptcha-badge {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: $breakpoint_md) {
  .c-input {
    padding: 18px 24px 19px;
  }

  .c-accept.p-small {
    font-size: 15px;
    line-height: 20px;
  }
}

/**
 * Card style
 */
.c-card {
  height: 100%;
  padding: 24px;
  border-radius: 15px;
  box-shadow: -5px 10px 30px rgba(24, 24, 24, 0.1);
}
.c-card--is-large {
  padding: 100px 60px;
  border-radius: 30px;
  box-shadow: -10px 15px 35px rgba(24, 24, 24, 0.1);
}
.c-card--is-large-y {
  padding-top: 60px;
  padding-bottom: 60px;
}

.c-card__title {
  margin-bottom: 13px;
}

@media (max-width: $breakpoint_lg) {
  .c-card--is-large-y {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

@media (max-width: $breakpoint_md) {
  .c-card--is-large {
    padding: 60px 24px;
    border-radius: 16px;
  }
  .c-card--is-large-y {
    padding-top: 47px;
    padding-bottom: 48px;
  }
}

/**
 * Separator
 */
.c-separator {
  width: 100%;
  height: 1px;
  background: $c_grey;
}

/**
 * Layouts
 */
.l-posts {
  margin-bottom: -24px;
}
.l-posts--is-list {
  margin-bottom: 0 !important;
}

.l-posts__item {
  margin-bottom: 24px;
}
.l-posts--is-list .l-posts__item:last-child {
  margin-bottom: 0 !important;
}

.l-logos {
  margin-bottom: -10px;
}

.l-logos__item {
  margin-bottom: 10px;
}

@media (max-width: $breakpoint_lg) {
  .l-logos {
    margin-bottom: -25px;
  }

  .l-logos__item {
    margin-bottom: 25px;
  }
}

@media (max-width: $breakpoint_md) {
  .l-posts {
    margin-bottom: -29px;
  }

  .l-posts__item {
    margin-bottom: 29px;
  }

  .l-logos {
    margin-bottom: -16px;
  }

  .l-logos__item {
    margin-bottom: 16px;
  }
}

/**
 * Featured icon
 */
.c-featured-icon {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.c-featured-icon--is-centered {
  margin-left: auto;
  margin-right: auto;
}

.c-featured-icon__icon {
  font-size: 50px;
}
.c-featured-icon--filled .c-featured-icon__icon {
  color: #fff;
}
.c-featured-icon__icon.ic-battery {
  font-size: 34px;
}
.c-featured-icon__icon.ic-mind {
  font-size: 58px;
}
.c-featured-icon__icon.ic-pills {
  font-size: 62px;
}
.c-featured-icon__icon.ic-bike {
  margin-top: -3px;
  font-size: 60px;
}
.c-featured-icon__icon.ic-head {
  font-size: 68px;
}
.c-featured-icon__icon.ic-human {
  margin-top: -4px;
  margin-left: 2px;
  font-size: 61px;
}
.c-featured-icon__icon[class*="ic-c-"] {
  font-size: 100px;
}

@media (max-width: $breakpoint_md) {
  .c-featured-icon {
    width: 84px;
    height: 84px;
  }
  .c-featured-icon__icon[class*="ic-c-"] {
    font-size: 60px !important;
  }

  .c-featured-icon__icon.ic-pills {
    font-size: 52px;
  }
  .c-featured-icon__icon.ic-calendar {
    font-size: 41px;
  }
  .c-featured-icon__icon.ic-bike {
    font-size: 50px;
  }
  .c-featured-icon__icon.ic-head {
    font-size: 57px;
  }
  .c-featured-icon__icon.ic-human {
    font-size: 51px;
  }
}

/**
 * Pager
 */
.c-pager__item-link,
.c-pager__arrow-link {
  position: relative;
  display: block;
  width: 42px;
  height: 42px;
  overflow: hidden;
  border-radius: 50%;
  transition: color 0.3s;
}
.c-pager__item-link {
  text-indent: -9999px;
}

.c-pager__item-link:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-indent: 0;
  content: attr(data-page);
}

.c-pager__arrow--prev {
  margin-right: 23px;
}
.c-pager__arrow--next {
  margin-left: 23px;
}

.c-pager__arrow-link {
  width: 8px;
}

.c-pager__arrow-icon {
  font-size: 12px;
}

// Current
.c-pager__arrow-link:hover,
.c-pager__item-link:hover {
  color: $c_primary;
}
.c-pager__item-link:hover {
  font-weight: 500;
}

.c-pager__item-link--is-current {
  font-weight: 500;
  color: #fff !important;
  background: $c_primary;
}

/**
 * WP columns
 */
.wp-block-columns {
  display: flex;
  flex-wrap: wrap;
}
.wp-block-columns.are-vertically-aligned-center {
  align-items: center;
}
.wp-block-columns.are-vertically-aligned-bottom {
  align-items: flex-end;
}

.editor > .wp-block-columns {
  margin-bottom: 58px;
}

.wp-block-column {
  flex-grow: 1;
  min-width: 0;
  min-height: 1px;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 1100px) {
  .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }

  .wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
  }

  .wp-block-column:not(:first-child) {
    margin-left: 24px;
  }
}

@media (max-width: $breakpoint_lg) and (min-width: 768px) {
  .wp-block-column .wp-block-column {
    flex-basis: 0;
    flex-grow: 1;
  }

  .wp-block-column .wp-block-column[style*="flex-basis"] {
    flex-grow: 0;
  }

  .wp-block-column .wp-block-column:not(:first-child) {
    margin-left: 24px;
  }
}

@media (max-width: $breakpoint_md) {
  .wp-block-column {
    width: 100%;
  }
}

/**
 * WP embed
 */
.wp-block-embed__wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.1%;
}

.wp-block-embed__wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * WP image
 */
.wp-block-image {
  margin-bottom: 23px;
}
.wp-block-image.is-style-no-margin {
  margin-bottom: 0;
}

/**
 * WP video
 */
.wp-block-video video {
  width: 100%;
}

/**
 * Cookies
 */
.cc-window {
  position: fixed;
  z-index: 9998;
  max-width: 356px;
}

.cc-bottom {
  bottom: 16px;
}
.cc-right {
  right: 16px;
}

.cc-message {
  @extend .p-small;
}

.cc-link {
  color: $c_primary;
  transition: color 0.3s;
}
.cc-link:hover {
  text-decoration: underline;
}

.cc-btn {
  @extend .btn;
  @extend .btn, .small;

  width: 150px;
  padding-bottom: 13px;
}
.cc-allow {
  @extend .btn-primary;

  margin-left: auto;
  margin-right: auto;
}
.cc-deny {
  @extend .btn-neutral;
}
.cc-deny {
  display: none !important;
}

@media (max-width: 480px) {
  .cc-window {
    width: 356px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/**
 * Frontpage banner
 */

.c-cta_slider {
  color: #ffffff;
  position: relative;
  margin-bottom: 9rem;
}

.c-cta_slider .custom-slide-dots .slick-dots {
  display: flex;
  margin: 0 27px;
}

.c-cta_slider .custom-slide-dots li {
  margin-right: 16px;
}

.c-cta_slider .custom-slide-dots li:last-child {
  margin-right: 0;
}

.c-cta_slider .slider-controls {
  bottom: 28px;
  position: absolute;
  z-index: 2;
}

.c-cta_slider .overlay-1 {
  background-image: url(../img/overlay1.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.c-cta-slider__slide::before {
  content: "";
  background-image: url(../img/overlay2.svg);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.c-cta-slider__slide::after {
  content: "";
  background-image: url(../img/overlay3.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.c-cta-slider__dot {
  background: #fff 0% 0% no-repeat padding-box;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  border-radius: 50%;
}

.c-cta_slider .custom-slide-dots li.slick-active .c-cta-slider__dot {
  background: #feef00 0% 0% no-repeat padding-box;
  opacity: 1;
}

.c-cta_slider .slider-controls button,
.c-cta_slider .custom-slide-dots li {
  cursor: pointer;
}

.c-cta_slider .slider-controls button {
  color: #fff;
  width: 20px;
  height: 20px;
  font-size: 10px;
}

.c-cta_slider .slider-controls button.slick-disabled {
  opacity: 0.5;
}

.c-cta_slider .container {
  margin-top: 133px;
  position: relative;
  z-index: 2;
}

.c-cta_slider h1 {
  font-size: 54px;
  margin-bottom: 35px;
}

.c-cta_slider p {
  font-size: 21px;
  margin-bottom: 2.1rem;
}

.c-cta_slider .c-cta-slider__logo {
  position: absolute;
  z-index: 1;
  height: 21px;
  width: 98px;
  bottom: 36px;
  right: 47px;
}
